{{ template "templates/header.html" . }}

<section class="text-center">
  <div>
    <div>
      <div id="katacoda-terminal"
        data-katacoda-id="openshift-roadshow/training/{{ .Training.Name }}/{{ .Name }}"
        data-katacoda-ctatext="Continue Training" data-katacoda-ctaurl="https://dev.roadshow.openshift.com/{{ .Training.Name}}"
        data-katacoda-color="168F9D"
        data-katacoda-secondary="168F9D"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans"
        style="height: calc(100vh - 60px);">

      </div>

    </div>
  </div>
</section>

{{ template "templates/footer.html" . }}
